#main-header {
    background: #fff;
    border-bottom: 1px solid #e6eaee;
    padding: 18px 30px;
    min-height: 70px;


    li.nav-item {
        margin: 0 40px 0 0;

        a.nav-link {
            color: #9fa9ba;
            font-weight: 400;
        }
        
        a.nav-link:hover {
            color: #2ea1f8;
        }
    }


    .dropdown-toggle {
        padding-left: 10px;
        text-decoration: none;
    }

    .avatar {
        width: 36px;
        height: 36px;
    }

    .dropdown-menu {
        left: -90px;
    }
}