#login{

	.full-height {
		min-height: 100vh;
	}

	.height-100 {
		height: 100%;
	}

	.vertical-align {
		display: table;
		height: 100%;
		width: 100%;
	}

	.table-cell {
		display: table-cell;
		vertical-align: middle;
	}

	.pdd-horizon-70 {
		padding-left: 70px !important;
		padding-right: 70px !important;
	}

	.pdd-horizon-15 {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.mrg-btm-15 {
		margin-bottom: 15px !important;
	}

	.font-size-13 {
		font-size: 13px !important;
	}

	.pdd-top-10 {
		padding-top: 10px !important;
	}

	.login-footer {
		position: absolute;
		bottom: 0px;
		padding: 15px 30px;
		border-top: 1px solid #e6ecf5;
		width: 100%;
	}

	.bg {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	.img-caption {
		position: absolute;
		bottom: 10px;
		left: 0px;
		padding: 30px;
		max-width: 600px;
	}

	.img-caption .caption-title {
		color: #ffffff;
		font-size: 35px;
		font-weight: 300;
		margin-bottom: 18px;
	}

	.caption-text {
		color: #e6e6e6;
	}
}