// Body
$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border-color: $laravel-border-color;

$card-border-color: $laravel-border-color;

// Brands
$primary: #475364;
$info: #2ea1f8;
$success: #1bb934;
$warning: #fd9a18;
$danger: #ed1c24;

// Typography
$font-family-sans-serif: "Source Sans Pro", sans-serif;
$font-size-base: 0.875rem; // 14px
$line-height-base: 1.6;
$text-color: #354052;

// Inputs
$input-border-color: lighten($text-color, 40%);
$input-placeholder-color: lighten($text-color, 30%);