/***
* Global
***/

body {
    font-size: 14px;
    line-height: 1.5;
    background-color: #eff3f6;
}

a, a:hover {
    color: #2ea1f8;
}

////////
//= Buttons
.btn-primary {
    background: #2ea1f8;
    background: linear-gradient(180deg,#2ea1f8,#1990ea);
    border-color: #1a91eb;
}

.btn-success {
    background: #39b54a;
    background: linear-gradient(180deg,#39b54a,#34aa44);
    border-color: #249533;
}

.btn-info {
    background: #886ce6;
    background: linear-gradient(180deg,#886ce6,#7d5be2);
    border-color: #7d5be2;
}

@import 'header';
@import 'landing_card';
@import 'travel_card';
@import 'login';
