/***
* Global
***/

body {
    font-size: 14px;
    line-height: 1.5;
    background-color: #eff3f6;
}

a, a:hover {
    color: #2ea1f8;
}

a.text-dark:hover {
    color: #2ea1f8!important;
    text-decoration: underline;    
}



////////
//= Helpers
.border-bottom {
    border-bottom: 1px solid #e6eaee!important
}

.overflow-hidden {
    overflow: hidden;
}

.dry-list {
    list-style: none;
    padding: 0;
}

.push-bottom {
    padding-bottom: 300px;
}

////////
//= Buttons
.btn-primary {
    background: #2ea1f8;
    background: linear-gradient(180deg,#2ea1f8,#1990ea);
    border-color: #1a91eb;
}

.btn-success {
    background: #39b54a;
    background: linear-gradient(180deg,#39b54a,#34aa44);
    border-color: #249533;
}

.btn-info {
    background: #886ce6;
    background: linear-gradient(180deg,#886ce6,#7d5be2);
    border-color: #7d5be2;
}

.btn-danger {
    background: #f95359;
    border-color: #d35847;
}

.btn-secondary {
    background: #fff;
    background: linear-gradient(180deg,#fff,#f2f4f7);
    border-color: #dfe3e9;
    color: #354052;
}
.btn-secondary:hover {
    color: #354052!important;
    border-color: #dfe3e9;
}


@import 'header';
@import 'landing_card';
@import 'travel_card';
@import 'login';
@import 'table';
