/***
* Global
***/

body {
    font-size: 14px;
    line-height: 1.5;
    background-color: #eff3f6;
}

a, a:hover {
    color: #2ea1f8;
}

////////
//= Buttons
.btn-primary {
    background: #2ea1f8;
    background: linear-gradient(180deg,#2ea1f8,#1990ea);
    border-color: #1a91eb;
}

@import 'header';
@import '_landing_card';
@import 'login';
